body {
  padding: 50px;
  font-size: 20px;
  font-family: 'Barlow Condensed', sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

a {
  color: #00B7FF;
}

nav {
  align-items: center;
  border-radius: 5px;
  color: white;
}

#button {
  margin-top: 1vmin;
  padding: 1vmin;
  border-radius: 5px;
}

h1 {
  padding: 5vmin;
}

h2 {
  padding: 2vmin;
  margin: 2vmin;
  font-weight: bold;
}